// Place all the styles related to the World controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: black url('/assets/starfield.jpg') no-repeat;
  color : white;
}

#container{
  margin-left:50px;
  margin-top:50px;
  position: absolute;
}

@mixin font-style{
  font-family: 'Josefin Sans', sans-serif;

}

#hello{
  @include font-style;
  font-weight: 100;
  font-size: 100px;
}

#time{
  @include font-style;
  font-weight: 400;
  font-size: 70px;
  color:#8ed5ff;
  margin-left: 5px;
}